extends layout

block content
    h2.myheadh3faq Airdrops List
    .clear-box
    p.msg-success #{msg}
    p.msg-error #{msgerr}
    br
    .list-group.drop-coin-main
        //each coin in coins

        -for (let i = 0; i < coins.length; i++)
            -if(coins[i].enddate >0)
                .list-group.drop-coin-main1        
                    -let coin = coins[i]
                    a.list-group-item.list-group-item-action.list-group-item-light(href='/coin/'+coin.title.replace(' ', '-')+'/'+coin._id, data=coin._id)
                        .row-coin
                            .row-coin1
                                .row-coin-logo1
                                    img.row-coin-logo(alt=coin.title, src='/imgcoin/'+coin.imgcoin)
                                .row-coin-title1
                                    h4.row-coin-title #{coin.title} (#{coin.code})
                                    .row-coin-tokens1-money1
                                        img.row-coin-tokens-icon(alt=coin.code, src='/imgicon/coin.png', style='height:13px;width:13px; margin-top: -3px;')
                                        span.row-coin-tokens  #{coin.tokens} tokens  
                                        span &nbsp; &nbsp;
                                        img.row-coin-moneys-icon(alt='money', src='/imgicon/money.png', style='height:13px;width:13px; margin-top: -3px;')
                                        span.row-coin-moneys  #{coin.moneys} $
                            .row-coin2
                                -for(let i = 0; i < coin.rate; i++)
                                    img.row-coin-rate(src="/imgicon/ratetrue.png")
                                
                                -for(let i = coin.rate; i < 5; i++)
                                    img.row-coin-rate(src="/imgicon/ratefalse.png")
                                    
                            .row-coin3        
                                .row-coin-tool1
                                    -for(let i = 0; i < coin.tools.length; i++)
                                        img.row-coin-tool(src="/imgicon/icon"+coin.tools[i]+".png")
                            .row-coin4
                                .row-coin-enddate
                                    span Ends in #{coin.enddate} days
                                .row-coin-views
                                    span #{coin.views} views
                            .clear-box2
                            .row-coin-new
                                img.imgclick(src="/imgicon/click.png")   
                            .row-coin-new
                                -if(coin.new != '')
                                    img.imgnew(src=coin.new)                                                     
    hr
    .my-pagination
        -if(nPages > 0)
            ul.pagination.text-center
                -if(page == 1)
                    li.disabled 
                        a First
                -else
                    li.page-item
                        a(href="/coin/pages/page/1") Firt
                -let n = (Number(page) > 5 ? Number(page) - 4 : 1)
                -if(n !==1)
                    li.disabled
                        a ...
                -for(; n <= (Number(page) + 4) && n <= nPages; n++)
                    -if(n == page)
                        li.active.page-item
                            a #{n}
                    -else
                        li.page-item
                            a(href="/coin/pages/page/"+n) #{n}
                    -if(n == Number(page) + 4 && n < nPages)
                        li.disabled
                            a ...
                -if(page == nPages)
                    li.disabled
                        a Last
                -else
                    li.page-item
                        a(href="/coin/pages/page/"+nPages) Last


